#Container {
  overflow: hidden;
}

#inner {
  overflow: hidden;
  width: 2000px;
}

.child {
  float: left;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 

TO USE IN HTML DO:

<div id="Container">
  <div id="inner">
    <div className="child">
      {whatever element you god damn want!}
    </div>
  </div>
</div>

*/
